// title-font
:root {
  --title-font_fontFamily:"EurostileLTStd";
  --title-font_fontWeight:700;
  --title-font_fontSize:calc(35px - 19.2px + 1vw);
  --title-font_fontStyle:normal;
  --title-font_lineHeight:1.2;
  --title-font_letterSpacing:1px;
  --title-font_textTransform:uppercase;
  }
  @mixin title-font {font-family:var(--title-font_fontFamily);font-weight:var(--title-font_fontWeight);font-size:var(--title-font_fontSize);font-style:var(--title-font_fontStyle);line-height:var(--title-font_lineHeight);letter-spacing:var(--title-font_letterSpacing);text-transform:var(--title-font_textTransform);}
  .title-font {font-family:var(--title-font_fontFamily);font-weight:var(--title-font_fontWeight);font-size:var(--title-font_fontSize);font-style:var(--title-font_fontStyle);line-height:var(--title-font_lineHeight);letter-spacing:var(--title-font_letterSpacing);text-transform:var(--title-font_textTransform);}
  
  // paragraph-font
  :root {
  --paragraph-font_fontFamily:"Red Hat Display";
  --paragraph-font_fontWeight:400;
  --paragraph-font_fontSize:1.6rem;
  --paragraph-font_fontStyle:normal;
  --paragraph-font_lineHeight:1.9;
  --paragraph-font_letterSpacing:1px;
  --paragraph-font_textTransform:none;
  }
  @mixin paragraph-font {font-family:var(--paragraph-font_fontFamily);font-weight:var(--paragraph-font_fontWeight);font-size:var(--paragraph-font_fontSize);font-style:var(--paragraph-font_fontStyle);line-height:var(--paragraph-font_lineHeight);letter-spacing:var(--paragraph-font_letterSpacing);text-transform:var(--paragraph-font_textTransform);}
  .paragraph-font {font-family:var(--paragraph-font_fontFamily);font-weight:var(--paragraph-font_fontWeight);font-size:var(--paragraph-font_fontSize);font-style:var(--paragraph-font_fontStyle);line-height:var(--paragraph-font_lineHeight);letter-spacing:var(--paragraph-font_letterSpacing);text-transform:var(--paragraph-font_textTransform);}
  
  // subtitle-font
  :root {
  --subtitle-font_fontFamily:"Campton";
  --subtitle-font_fontWeight:500;
  --subtitle-font_fontSize:1.3rem;
  --subtitle-font_fontStyle:normal;
  --subtitle-font_lineHeight:1.2;
  --subtitle-font_letterSpacing:1px;
  --subtitle-font_textTransform:none;
  }
  @mixin subtitle-font {font-family:var(--subtitle-font_fontFamily);font-weight:var(--subtitle-font_fontWeight);font-size:var(--subtitle-font_fontSize);font-style:var(--subtitle-font_fontStyle);line-height:var(--subtitle-font_lineHeight);letter-spacing:var(--subtitle-font_letterSpacing);text-transform:var(--subtitle-font_textTransform);}
  .subtitle-font {font-family:var(--subtitle-font_fontFamily);font-weight:var(--subtitle-font_fontWeight);font-size:var(--subtitle-font_fontSize);font-style:var(--subtitle-font_fontStyle);line-height:var(--subtitle-font_lineHeight);letter-spacing:var(--subtitle-font_letterSpacing);text-transform:var(--subtitle-font_textTransform);}
  
  // small-font
  :root {
  --small-font_fontFamily:"Roboto";
  --small-font_fontWeight:700;
  --small-font_fontSize:1.5rem;
  --small-font_fontStyle:normal;
  --small-font_lineHeight:1.6;
  --small-font_letterSpacing:1px;
  --small-font_textTransform:none;
  }
  @mixin small-font {font-family:var(--small-font_fontFamily);font-weight:var(--small-font_fontWeight);font-size:var(--small-font_fontSize);font-style:var(--small-font_fontStyle);line-height:var(--small-font_lineHeight);letter-spacing:var(--small-font_letterSpacing);text-transform:var(--small-font_textTransform);}
  .small-font {font-family:var(--small-font_fontFamily);font-weight:var(--small-font_fontWeight);font-size:var(--small-font_fontSize);font-style:var(--small-font_fontStyle);line-height:var(--small-font_lineHeight);letter-spacing:var(--small-font_letterSpacing);text-transform:var(--small-font_textTransform);}
  
  // input-font
  :root {
  --input-font_fontFamily:"Red Hat Display";
  --input-font_fontWeight:400;
  --input-font_fontSize:1.6rem;
  --input-font_fontStyle:normal;
  --input-font_lineHeight:1.9;
  --input-font_letterSpacing:1px;
  --input-font_textTransform:none;
  }
  @mixin input-font {font-family:var(--input-font_fontFamily);font-weight:var(--input-font_fontWeight);font-size:var(--input-font_fontSize);font-style:var(--input-font_fontStyle);line-height:var(--input-font_lineHeight);letter-spacing:var(--input-font_letterSpacing);text-transform:var(--input-font_textTransform);}
  .input-font {font-family:var(--input-font_fontFamily);font-weight:var(--input-font_fontWeight);font-size:var(--input-font_fontSize);font-style:var(--input-font_fontStyle);line-height:var(--input-font_lineHeight);letter-spacing:var(--input-font_letterSpacing);text-transform:var(--input-font_textTransform);}
  


// BASE FOR EACH COMPONENT
html {
  font-size: 62.5%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: #444;
  font-family: "EurostileLTStd", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  -webkit-font-feature-settings: "liga" 0;
  -moz-font-feature-settings: "liga" 0;
  -ms-font-feature-settings: "liga" 0;
  -o-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
  background-color: var(--contrast_bg, #12202c);
  color: var(--main_color, #2f2d2d);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 27px;
  margin: 0;
}

input,
textarea,
* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  resize: none;
}

ul {
  list-style: none;
}
.flex--gap > * {
  padding: var(--gap);
}
p,
li,
span.normal-text,
.wysiwyg li,
.wysiwyg p {
  font-size: 1.6rem;
}

a {
  color: $primary_color;
  text-decoration: none;
  &:hover {
    color: $secondary_color;
  }
}

.my-page-enter-active{
    opacity: 1;
    transition: all .5s;
    
}
.my-page-enter{
    transform: translateX(-10vw);
    opacity: 0.5;
}
.my-page-leave-active{
    opacity: 1;
    transition: all .5s;
    //transition-delay: .5s;
}
.my-page-leave-to{
    transform: translateX(-10vw);
    opacity: 0.5;
}

.padd {
  display: block;
  position: relative;
  width: 100%;
  padding: clamp(75px, 15vh, 190px) 0;
}

.wrap {
  padding-left: var(--wrap, 10vw);
  padding-right: var(--wrap, 10vw);
  margin: 0 auto;
}
