// BASE STYLESHEET ==========================================================
@import "variables";
@import "fonts";
@import "base";
.padd {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0;
}
html {
  font-size: 62.5%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: #444;
  font-family: "EurostileLTStd", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  -webkit-font-feature-settings: "liga" 0;
  -moz-font-feature-settings: "liga" 0;
  -ms-font-feature-settings: "liga" 0;
  -o-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
  background-color: var(--contrast_bg, #12202c);
  color: var(--main_color, #2f2d2d);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 27px;
}

a {
  color: $primary_color;
  text-decoration: none;
  &:hover {
    color: $secondary_color;
  }
}

// TEMPORARY STYLE SECTION
section {
  display: flex;
  background: $primary_bg;
  flex-direction: column;
  margin: 16px;
  padding: 16px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  color: $paragraph_color;
  border-radius: 5px;
  &:nth-child(odd) {
    background: $secondary_bg;
    color: $secondary_color;
  }
  margin-top: 2em;
}
.transition-fade {
  transition: 0.4s;
  opacity: 1;
  // each even section slide left
  section:nth-child(even) {
    transition: 0.4s;
    transform: translateX(0%);
  }
  // each odd section slide right
  section:nth-child(odd) {
    transition: 0.4s;
    transform: translateX(0%);
  }
}

html.is-animating .transition-fade {
  transition: 0.4s;
  opacity: 0.5;
  section:nth-child(even) {
    transform: translateX(-100%);
  }
  // each odd section slide right
  section:nth-child(odd) {
    transform: translateX(100%);
  }
}
.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
  transform: translateY(0);
  opacity: 1;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateY(20px);
}