//  ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
// ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
// ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
// ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
// ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
//  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝

$transparent: rgba(255, 255, 255, 0%); // Transparent working in safari
$white: #fff; // Main white color
$black: #000; // Main black color

// ███████╗██╗███████╗███████╗███████╗
// ██╔════╝██║╚══███╔╝██╔════╝██╔════╝
// ███████╗██║  ███╔╝ █████╗  ███████╗
// ╚════██║██║ ███╔╝  ██╔══╝  ╚════██║
// ███████║██║███████╗███████╗███████║
// ╚══════╝╚═╝╚══════╝╚══════╝╚══════╝

$wrap-width: 10vw;
$padd-height: 190px;
$flex_gap: 30px;

$top-bar-height: 55px;
$nav-height: 190px;
$nav-scroll-height: 80px;

// ████████╗██████╗  █████╗ ███╗   ██╗███████╗██╗████████╗██╗ ██████╗ ███╗   ██╗███████╗
// ╚══██╔══╝██╔══██╗██╔══██╗████╗  ██║██╔════╝██║╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
//    ██║   ██████╔╝███████║██╔██╗ ██║███████╗██║   ██║   ██║██║   ██║██╔██╗ ██║███████╗
//    ██║   ██╔══██╗██╔══██║██║╚██╗██║╚════██║██║   ██║   ██║██║   ██║██║╚██╗██║╚════██║
//    ██║   ██║  ██║██║  ██║██║ ╚████║███████║██║   ██║   ██║╚██████╔╝██║ ╚████║███████║
//    ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝╚══════╝╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

$transition_duration: 0.35s; // Durée générale des transitions
$transition_curve: $bezier; // $bezier, ease-in, ease-out, ease-in-out...
// Paramètres généraux de transition
$transition: #{$transition_duration}+" "+#{$transition_curve};

.privacy-container{
    // GDPR
    --privacy-wrap: #{$wrap-width};
    --privacy-bg: #{$main_bg};
    --privacy-paragraph: #{$paragraph_color};
    --privacy-btn-color: #{$main_color};
    --privacy-btn-hover-color: #{$primary_bg};
    --privacy-checkbox-color: #{$primary_bg};
}

// CSS
:root {
    // Hex values
    --white: #{$white};
    --black: #{$black};
    --main_bg: #{$main_bg};
    --alt_bg: #{$alt_bg};
    --main_color: #{$main_color};
    --paragraph_color: #{$paragraph_color};
    --contrast_bg: #{$contrast_bg};
    --contrast_color: #{$contrast_color};
    --primary_bg: #{$primary_bg};
    --primary_color: #{$primary_color}; 
    --secondary_bg: #{$secondary_bg};
    --secondary_color: #{$secondary_color};
    --nav_bg: #{$nav_bg};
    --nav_color: #{$nav_color};
    --nav_color_hover: #{$nav_color_hover};
    --menu_bg: #{$menu_bg};
    --menu_color: #{$menu_color};
    --menu_color_hover: #{$menu_color_hover};
    --footer_bg: #{$footer_bg};
    --footer_color: #{$footer_color};
    --footer_color_hover: #{$footer_color_hover};
    --header_color: #{$header_color};
    --border_color: #{$border_color};
    --form_input_bg: #{$form_input_bg};
    --form_input_color: #{$form_input_color};
    --form_border_error_color: #{$form_border_error_color};

   // RGB variants for rgba functions
    --main_bg-rgb: #{hexToRGB($main_bg)}; 
    --alt_bg-rgb: #{hexToRGB($alt_bg)};
    --main_color-rgb: #{hexToRGB($main_color)}; 
    --paragraph_color-rgb: #{hexToRGB($paragraph_color)}; 
    --contrast_bg-rgb: #{hexToRGB($contrast_bg)}; 
    --contrast_color-rgb: #{hexToRGB($contrast_color)}; 
    --primary_bg-rgb: #{hexToRGB($primary_bg)}; 
    --primary_color-rgb: #{hexToRGB($primary_color)}; 
    --secondary_bg-rgb: #{hexToRGB($secondary_bg)}; 
    --secondary_color-rgb: #{hexToRGB($secondary_color)}; 
    --nav_bg-rgb: #{hexToRGB($nav_bg)}; 
    --nav_color-rgb: #{hexToRGB($nav_color)}; 
    --nav_color_hover-rgb: #{hexToRGB($nav_color_hover)}; 
    --menu_bg-rgb: #{hexToRGB($menu_bg)}; 
    --menu_color-rgb: #{hexToRGB($menu_color)}; 
    --menu_color_hover-rgb: #{hexToRGB($menu_color_hover)}; 
    --footer_bg-rgb: #{hexToRGB($footer_bg)}; 
    --footer_color-rgb: #{hexToRGB($footer_color)}; 
    --footer_color_hover-rgb: #{hexToRGB($footer_color_hover)}; 
    --header_color-rgb: #{hexToRGB($header_color)}; 
    --border_color-rgb: #{hexToRGB($border_color)}; 
    --form_input_bg-rgb: #{hexToRGB($form_input_bg)}; 
    --form_input_color-rgb: #{hexToRGB($form_input_color)}; 

    // SIZES
    --wrap: #{$wrap-width};
    --padd: #{$padd-height};
    --gap: #{$flex-gap};
    --nav-height: #{$nav-height};
    --topbar-height: #{$top-bar-height};

    @media #{$tablets}{
        --nav-height: #{$nav-scroll-height};
        --wrap: #{$wrap-width * 0.6};
        --privacy-wrap: #{$wrap-width * 0.6};
    }
}

.scroll{
    --nav-height: #{$nav-scroll-height};
}