:root{
    --white: #fff;
    --black: #000;
    --main_bg: #fff;
    --alt_bg: #eee;
    --main_color: #2f2d2d;
    --paragraph_color: #505050;
    --contrast_bg: #12202c;
    --contrast_color: #fff;
    --primary_bg: #72a9c9;
    --primary_color: #fff;
    --secondary_bg: #496070;
    --secondary_color: #fff;
    --nav_bg: #12202c;
    --nav_color: #fff;
    --nav_color_hover: #72a9c9;
    --menu_bg: #12202c;
    --menu_color: #fff;
    --menu_color_hover: #72a9c9;
    --footer_bg: #12202c;
    --footer_color: #fff;
    --footer_color_hover: #72a9c9;
    --header_color: #fff;
    --border_color: #dddcdc;
    --form_input_bg: #eee;
    --form_input_color: #2f2d2d;
    --form_border_error_color: #ce4c4c;
    --main_bg-rgb: 255,255,255;
    --alt_bg-rgb: 238,238,238;
    --main_color-rgb: 47,45,45;
    --paragraph_color-rgb: 80,80,80;
    --contrast_bg-rgb: 18,32,44;
    --contrast_color-rgb: 255,255,255;
    --primary_bg-rgb: 114,169,201;
    --primary_color-rgb: 255,255,255;
    --secondary_bg-rgb: 73,96,112;
    --secondary_color-rgb: 255,255,255;
    --nav_bg-rgb: 18,32,44;
    --nav_color-rgb: 255,255,255;
    --nav_color_hover-rgb: 114,169,201;
    --menu_bg-rgb: 18,32,44;
    --menu_color-rgb: 255,255,255;
    --menu_color_hover-rgb: 114,169,201;
    --footer_bg-rgb: 18,32,44;
    --footer_color-rgb: 255,255,255;
    --footer_color_hover-rgb: 114,169,201;
    --header_color-rgb: 255,255,255;
    --border_color-rgb: 221,220,220;
    --form_input_bg-rgb: 238,238,238;
    --form_input_color-rgb: 47,45,45;
    --wrap: 10vw;
    --padd: 190px;
    --gap: 30px;
    --nav-height: 190px;
    --topbar-height: 55px;
}
// SCSS VARIABLES
$white: var(--white, #fff);
$black: var(--black, #000);
$main_bg: var(--main_bg, #fff);
$alt_bg: var(--alt_bg, #eee);
$main_color: var(--main_color, #2f2d2d);
$paragraph_color: var(--paragraph_color, #505050);
$contrast_bg: var(--contrast_bg, #12202c);
$contrast_color: var(--contrast_color, #fff);
$primary_bg: var(--primary_bg, #72a9c9);
$primary_color: var(--primary_color, #fff);
$secondary_bg: var(--secondary_bg, #496070);
$secondary_color: var(--secondary_color, #fff);
$nav_bg: var(--nav_bg, #12202c);
$nav_color: var(--nav_color, #fff);
$nav_color_hover: var(--nav_color_hover, #72a9c9);
$menu_bg: var(--menu_bg, #12202c);
$menu_color: var(--menu_color, #fff);
$menu_color_hover: var(--menu_color_hover, #72a9c9);
$footer_bg: var(--footer_bg, #12202c);
$footer_color: var(--footer_color, #fff);
$footer_color_hover: var(--footer_color_hover, #72a9c9);
$header_color: var(--header_color, #fff);
$border_color: var(--border_color, #dddcdc);
$form_input_bg: var(--form_input_bg, #eee);
$form_input_color: var(--form_input_color, #2f2d2d);
$form_border_error_color: var(--form_border_error_color, #ce4c4c);
$main_bg-rgb: var(--main_bg-rgb, 255,255,255);
$alt_bg-rgb: var(--alt_bg-rgb, 238,238,238);
$main_color-rgb: var(--main_color-rgb, 47,45,45);
$paragraph_color-rgb: var(--paragraph_color-rgb, 80,80,80);
$contrast_bg-rgb: var(--contrast_bg-rgb, 18,32,44);
$contrast_color-rgb: var(--contrast_color-rgb, 255,255,255);
$primary_bg-rgb: var(--primary_bg-rgb, 114,169,201);
$primary_color-rgb: var(--primary_color-rgb, 255,255,255);
$secondary_bg-rgb: var(--secondary_bg-rgb, 73,96,112);
$secondary_color-rgb: var(--secondary_color-rgb, 255,255,255);
$nav_bg-rgb: var(--nav_bg-rgb, 18,32,44);
$nav_color-rgb: var(--nav_color-rgb, 255,255,255);
$nav_color_hover-rgb: var(--nav_color_hover-rgb, 114,169,201);
$menu_bg-rgb: var(--menu_bg-rgb, 18,32,44);
$menu_color-rgb: var(--menu_color-rgb, 255,255,255);
$menu_color_hover-rgb: var(--menu_color_hover-rgb, 114,169,201);
$footer_bg-rgb: var(--footer_bg-rgb, 18,32,44);
$footer_color-rgb: var(--footer_color-rgb, 255,255,255);
$footer_color_hover-rgb: var(--footer_color_hover-rgb, 114,169,201);
$header_color-rgb: var(--header_color-rgb, 255,255,255);
$border_color-rgb: var(--border_color-rgb, 221,220,220);
$form_input_bg-rgb: var(--form_input_bg-rgb, 238,238,238);
$form_input_color-rgb: var(--form_input_color-rgb, 47,45,45);
$wrap: var(--wrap, 10vw);
$padd: var(--padd, 190px);
$gap: var(--gap, 30px);
$nav-height: var(--nav-height, 190px);
$topbar-height: var(--topbar-height, 55px);